{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'root/style.css' %}">
    <title>Bio Luxe</title>
</head>
<body>
    <h1>Bio Luxe</h1>
    <p>Welcome to Bio Luxe Backend | v.1.0.</p>

    <hr>
    
    <h2>Site URL's</h2>

    <ul>
        <li><a href='/api/'>api list</a></li>
        <li><a href='/admin/'>admin page</a></li>
    </ul>
</body>
</html>